@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  color: #FCFCFC;
  background-color: #84A178;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
a,
ul,
li,
span {
  padding: 0;
  margin: 0;
}

a img {
  border: none;
  /* Убираем рамку */
}

.products-background {
  background-color: #F5F5F5;
}
@media screen and (min-width: 480px) {
  .products-background {
    background-image: url("/src/images/product/mobile/fon-mobile1.jpg");
  }
}
@media screen and (min-width: 768px) {
  .products-background {
    background-image: url("/src/images/product/tablet/fon-tablet.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-background {
    background-image: url("/src/images/product/fon-desktop.png");
  }
}

.products {
  color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-pretittle {
  color: #131313;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-top: 60px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products-pretittle {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products-pretittle {
    font-size: 30px;
  }
}

.product-title {
  font-family: SeymourOne, sans-serif;
  font-family: "Seymour One";
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.27;
  letter-spacing: 0.04em;
  margin-bottom: 120px;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .product-title {
    margin-bottom: 148px;
  }
}
@media screen and (min-width: 768px) {
  .product-title {
    font-size: 34px;
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .product-title {
    font-size: 36px;
    margin-bottom: 303px;
  }
}

.products-list {
  display: block;
}
@media screen and (min-width: 480px) {
  .products-list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list {
    display: flex;
    gap: 32px;
  }
}

.products-item {
  position: relative;
  text-align: center;
  align-items: center;
  width: 280px;
  height: 420px;
  background: #EFD478;
  border-radius: 15.7808px;
  margin-bottom: 164px;
}
@media screen and (min-width: 480px) {
  .products-item {
    width: 280px;
    height: 420px;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .products-item {
    width: 224px;
    height: 428px;
    margin-bottom: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .products-item {
    width: 370px;
    height: 535px;
    margin-bottom: 66px;
  }
}
.products-item:first-child {
  background: #AEC6A5;
}
.products-item:last-child {
  margin-bottom: 60px;
  background: #D6936D;
}

.product--foto-container {
  position: absolute;
  border: 0px transparent solid;
  top: -108px;
  left: 40px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .product--foto-container {
    top: -108px;
    left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .product--foto-container {
    top: -183px;
    left: 35px;
  }
}

.products--foto {
  text-align: center;
  border-radius: 101px;
  width: 200px;
}
@media screen and (min-width: 768px) {
  .products--foto {
    border-radius: 98px;
  }
}
@media screen and (min-width: 1200px) {
  .products--foto {
    width: 301px;
    border-radius: 150px;
  }
}

.product--circle-green {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: rgba(156, 190, 143, 0.6980392157);
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
  top: -97px;
  left: 40px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .product--circle-green {
    top: -98px;
    left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .product--circle-green {
    height: 302px;
    width: 302px;
    top: -166px;
    left: 35px;
    border-radius: 150px;
  }
}

.product--circle-yellow {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: rgba(248, 210, 78, 0.6980392157);
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  top: -97px;
  left: 40px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .product--circle-yellow {
    top: -98px;
    left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .product--circle-yellow {
    height: 302px;
    width: 302px;
    top: -166px;
    left: 35px;
    border-radius: 150px;
  }
}

.product--circle-orange {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: rgba(213, 117, 63, 0.6980392157);
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  top: -97px;
  left: 40px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .product--circle-orange {
    top: -98px;
    left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .product--circle-orange {
    height: 302px;
    width: 302px;
    top: -166px;
    left: 35px;
    border-radius: 150px;
  }
}

.products-names {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 105px;
  padding-bottom: 34px;
}
@media screen and (min-width: 480px) {
  .products-names {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .products-names {
    font-size: 22px;
    padding-top: 106px;
    padding-bottom: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .products-names {
    padding-top: 165px;
    padding-bottom: 65px;
    font-size: 30px;
  }
}

.products-about {
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 480px) {
  .products-about {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .products-about {
    font-size: 16px;
  }
}

.products_arrow {
  position: absolute;
  bottom: 20px;
  left: 120px;
}
@media screen and (min-width: 480px) {
  .products_arrow {
    bottom: 20px;
    left: 120px;
  }
}
@media screen and (min-width: 768px) {
  .products_arrow {
    bottom: 20px;
    left: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .products_arrow {
    bottom: 20px;
    left: 164px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
  padding-left: 0;
}

li {
  line-height: initial;
}

address {
  font-style: normal;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=index.css.map */