$primary-text-color: #FCFCFC;
$title-text-color: #131313;
$accent-color: #F8D24E;
$address-text-color: #D6936D;
$gray-text-color: #ABABAB;
$background-color: #84A178;

$base-font-family: Montserrat, sans-serif;
$primary-font-family: Seymour+One, sans-serif;
$number-font-family: Roboto, sans-serif;