<section class="section advantages">
  <div class="container">
    <p class="section-subtitle visually-hidden">Advantages Hidden Subtitle</p>
    <h2 class="section-title visually-hidden">Advantages Hidden Subtitle</h2>
    <ul class="advantages__card-set">
      <li class="advantages__card">
        <!-- <div class="advantages__figure">
          <img
            class="advantages__icon"
            src="./images/about/advantages-icon-1.svg"
            alt="іконка голова корови"
          />
        </div> -->
        <span class="advantages__value advantages__value-1">721</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__card">
        <!-- <div class="advantages__figure">
          <img
            class="advantages__icon"
            src="./images/about/advantages-icon-2.svg"
            alt="іконка гіря"
          />
        </div> -->
        <span class="advantages__value advantages__value-2">16kg</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__card">
        <!-- <div class="advantages__figure">
          <img
            class="advantages__icon"
            src="./images/about/advantages-icon-3.svg"
            alt="іконка морозиво-ріжок"
          />
        </div> -->
        <span class="advantages__value advantages__value-3">84</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
