<section class="advantages">
  <div class="container">
    <p class="section-subtitle visually-hidden">Advantages Hidden Subtitle</p>
    <h2 class="section-title visually-hidden">Advantages Hidden Subtitle</h2>
    <ul class="advantages__card-set">
      <li class="advantages__card">
        <div class="advantages__figure">
          <img
            class="advantages__icon"
            src="./images/about/advantages-icon-1.svg"
            alt="голова корови на іконці"
          />
        </div>
        <span class="advantages__value">721</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__card">
        <div class="advantages__figure">
          <img
            class="advantages__icon"
            src="./images/about/advantages-icon-2.svg"
            alt="гіря на іконці"
          />
        </div>
        <span class="advantages__value">16kg</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__card">
        <div class="advantages__figure">
          <img
            class="advantages__icon"
            src="./images/about/advantages-icon-3.svg"
            alt="морозиво-ріжок на іконці"
          />
        </div>
        <span class="advantages__value">84</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
