<!-- Section CONTACTS -->
<h2 class="visually-hidden">Contacts</h2>
<div id="contacts" class="section contacts">
  <div class="container contacts__container">
    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="contacts__wrap">
          <div class="contacts__title-box">
            <p class="contacts__title">Cafe</p>
          </div>
          <address>
            <p class="contacts__city">Chicago</p>
            <p class="contacts__street">
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </p>
          </address>
          <div class="contacts__line"></div>
          <ul class="contacts__work-list list">
            <li class="contacts__work-item">
              <p class="contacts__weekdays">Monday - Friday</p>
              <p class="contacts__worktime">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__work-item">
              <p class="contacts__weekdays">Saturday - Sunday</p>
              <p class="contacts__worktime">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="contacts__line"></div>
          <div>
            <a class="contacts__link link" href="tel:+">+61(0) 383 766 284 </a>
          </div>
          <div>
            <a class="contacts__link link" href="mailto:">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__wrap">
          <div class="contacts__title-box">
            <p class="contacts__title">Foodtruck</p>
          </div>
          <address>
            <p class="contacts__city">Los Angeles</p>
            <p class="contacts__street">
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </p>
          </address>
          <div class="contacts__line"></div>
          <ul class="contacts__work-list list">
            <li class="contacts__work-item">
              <p class="contacts__weekdays">Monday - Friday</p>
              <p class="contacts__worktime">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__work-item">
              <p class="contacts__weekdays">Saturday - Sunday</p>
              <p class="contacts__worktime">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="contacts__line"></div>
          <div>
            <a class="contacts__link link" href="tel:+">+61(0) 383 766 284 </a>
          </div>
          <div>
            <a class="contacts__link link" href="mailto:">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__wrap">
          <div class="contacts__title-box">
            <p class="contacts__title">Cafe</p>
          </div>
          <address>
            <p class="contacts__city">New York</p>
            <p class="contacts__street">
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </p>
          </address>
          <div class="contacts__line"></div>
          <ul class="contacts__work-list list">
            <li class="contacts__work-item">
              <p class="contacts__weekdays">Monday - Friday</p>
              <p class="contacts__worktime">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__work-item">
              <p class="contacts__weekdays">Saturday - Sunday</p>
              <p class="contacts__worktime">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="contacts__line"></div>
          <div>
            <a class="contacts__link link" href="tel:+">+61(0) 383 766 284 </a>
          </div>
          <div>
            <a class="contacts__link link" href="mailto:">noreply@envato.com</a>
          </div>
        </div>
      </li>
    </ul>

    <ul class="contacts__button-list list">
      <li class="contacts__button-item">
        <button type="button" class="btn contacts-map__btn">
          Our Locations
        </button>
      </li>
      <li class="contacts__button-item">
        <button type="button" class="btn contacts-form__btn">Franchise</button>
      </li>
    </ul>
  </div>
</div>
