<footer class="footer">
    <div class="container container--footer">
        <div class="footer__wrap">
    <p class="footer__pretitle">homemade ice cream made</p>
    <p class="footer__title">with passion</p>
</div>
<div class="footer__info">
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p class="footer__text">Feel free to contact </p>
    <a href="tel:+61(0)38376628" class="footer_tel">+61 (0) 383 766 28</a>
</div>
<div class="footer__inner">
    <p>© 2022 - IceCream.</p>
    <p>All Rights Reserved.</p>
</div>
</div>
</footer>
