<div class="double">
  <section class="gallery container">
    <div class="swiper mySwiper gallery-wrapper">
      <ul class="gallery-list swiper-wrapper">
        <li class="gallery-image swiper-slide">
          <img
            class="image"
            src="./images/gallery/gallery1.jpg"
            alt="Foto Ice cream with bilberry"
          />
        </li>
        <li class="gallery-image swiper-slide">
          <img
            class="image"
            src="./images/gallery/gallery1.jpg"
            alt="Foto Ice cream with strawberry"
          />
        </li>
        <li class="gallery-image swiper-slide">
          <img
            class="image"
            src="./images/gallery/gallery1.jpg"
            alt="Foto Ice cream with sugar decoration"
          />
        </li>
      </ul>
    </div>
  </section>

  <section class="castomer container">
    <div class="swiper mySw castomer-article">
      <ul class="castomer-list swiper-wrapper">
        <li class="castomer-item swiper-slide">
          <blockquote class="castomer-wrap">
            <img class="castomer-image" src="./images/gallery/fotoEmily.jpg" />
            <p class="castomer-text">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
            <cite class="castomer-name">Emily, Los Angeles</cite>
          </blockquote>
        </li>
        <li class="castomer-item swiper-slide">
          <blockquote class="castomer-wrap">
            <img class="castomer-image" src="./images/gallery/fotoSam.jpg" />
            <p class="castomer-text">
              I love eating popsicles on a hot day. Yours is always delicious. I
              recommend your cafe to everyone I know.
            </p>
            <cite class="castomer-name">Sam, Los Angeles</cite>
          </blockquote>
        </li>
        <li class="castomer-item swiper-slide">
          <blockquote class="castomer-wrap">
            <img class="castomer-image" src="./images/gallery/fotoDiana.jpg" />
            <p class="castomer-text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
            <cite class="castomer-name">Diana, Chicago</cite>
          </blockquote>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </section>
</div>
