<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Seymour+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <!-- ❗️❗️❗️ Add partials like so for every page -->
    <!-- <include src="./partials/gallery.html"></include> -->

    <main>
      <section class="gallery">
        <h2>Gallery</h2>
        <div class="swiper mySwiper wrapper">
          <ul class="list swiper-wrapper">
            <li class="item blue swiper-slide">1</li>
            <li class="item red swiper-slide">2</li>
            <li class="item brown swiper-slide">3</li>
          </ul>
        </div>
      </section>

      <section class="castomer">
        <div class="swiper mySw castomer-box">
          <ul class="castomer-list swiper-wrapper">
            <li class="swiper-slide">
              <img src="#" />
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </li>
            <li class="item red swiper-slide">2</li>
            <li class="item brown swiper-slide">3</li>
          </ul>
          <div class="swiper-pagination"></div>
        </div>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper('.mySwiper', {
        autoplay: true,
      });
    </script>
    <script>
      var swiper = new Swiper('.mySw', {
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });
    </script>
  </body>
</html>
