<section class="gallery">
  <h2>Gallery</h2>
  <div class="swiper mySwiper wrapper">
    <ul class="list swiper-wrapper">
      <li class="item blue swiper-slide">1</li>
      <li class="item red swiper-slide">2</li>
      <li class="item brown swiper-slide">3</li>
    </ul>
  </div>
</section>

<section class="castomer">
  <div class="swiper mySw castomer-box">
    <ul class="castomer-list swiper-wrapper">
      <li class="swiper-slide">
        <img src="../images/gallery/gallery1.jpg" />
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </li>
      <li class="item red swiper-slide">2</li>
      <li class="item brown swiper-slide">3</li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.mySwiper', {
    autoplay: true,
  });
</script>
<script>
  var swiper = new Swiper('.mySw', {
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
