<header>
    <div class="container header-container">
        <picture>
            <source srcset="./images/hero-header/header-logo-des.png 1x, ./images/hero-header/header-logo-des-2x.png 2x" media="(min-width:1200px)" sizes="60px">
            <source srcset="./images/hero-header/header-logo-tab.png 1x, ./images/hero-header/header-logo-tab-2x.png 2x" media="(min-width:768px)" sizes="48px">
            <source srcset="./images/hero-header/header-logo-mob.png 1x, ./images/hero-header/header-logo-mob-2x.png 2x" media="(min-width:320px)" sizes="40px">
            <img src="./images/hero-header/header-logo-des-2x.png" alt="логотип">
        </picture>
        
        <div class="header-navigation">
            <ul class="site-nav">
                <li class="site-nav-item">
                    <a class="site-nav-link" href="#">Home</a>
                </li>
                <li class="site-nav-item">
                    <a class="site-nav-link" href="#">How it’s made?</a>
                </li>
                <li class="site-nav-item">
                    <a class="site-nav-link" href="#">Our products</a>
                </li>
                <li class="site-nav-item">
                    <a class="site-nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="header-menu-modal">
            <button class="header-menu"></button>
            <button class="btn header-btn">
                Buy now
                <svg class="btn-icon" width="12" height="12">
                    <use href="./images/icons.svg#icon-chevron-right"></use>
                </svg>
            </button>
        </div>
        
    </div>
</header>