<section class="hero">
    <div class="container hero-container">
        <div class="title-container">
            <div class="title-and-navigation">
                <h1 class="hero-title">ice cream made with <span class="hero-title-part">passion</span> </h1>
                <ul class="hero-navigation">
                    <li class="products">
                        <a href="#products-section" class="products-button">Products</a>
                    </li>
                    <li class="made">
                        <a href="#section-about" class="made-button">How it’s made?</a>
                    </li>
                </ul>
            </div>
             
             <div class="cafes-trucks">
                <ul>
                    <li class="cafes-trucks-item">
                        <span class="cafe-trucks-number">16</span>
                        <p class="cafe-trucks-text">cafes</p>
                    </li>
                    <li class="cafes-trucks-item">
                        <span class="cafe-trucks-number">23</span>
                        <p class="cafe-trucks-text">food trucks</p>
                    </li>
                </ul>
             </div>
        </div>
        
        
        <div class="hero-lorem-ipsum">
            <picture>
                <source srcset="./images/hero-header/many-ice-cream-des.png 1x, ./images/hero-header/many-ice-cream-des-2x.png 2x"
                media="(min-width:1200px)">
                <source srcset="./images/hero-header/many-ice-cream-tab.png 1x, ./images/hero-header/many-ice-cream-tab-2x.png 2x"
                    media="(min-width:768px)">
                <img class="many-ice-cream" src="./images/hero-header/many-ice-cream-des-2x.png" alt="много мороженок">
            </picture>
           <div class="hero-lorem-ipsum-block">
              <p class="hero-lorem-ipsum-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              </p>
              <img src="./images/hero-header/hero-vector.png" alt="вектор" data-modal-open>
           </div> 
            
        </div>
        <picture>
            <source srcset="./images/hero-header/hero-ice-cream-des.png 1x, ./images/hero-header/hero-ice-cream-des-2x.png 2x"
                media="(min-width:1200px)">
            <source srcset="./images/hero-header/hero-ice-cream-tab.png 1x, ./images/hero-header/hero-ice-cream-tab-2x.png 2x"
                media="(min-width:768px)">
            <source srcset="./images/hero-header/hero-ice-cream-mob.png 1x, ./images/hero-header/hero-ice-cream-mob-2x.png 2x"
                media="(min-width:320px)">
            <img class="hero-ice-cream" src="./images/hero-header/hero-ice-cream-des-2x.png" alt="мороженое">
        </picture>
        
    </div>

    <!--------------------------------------------------Modal widow----------------------------------->

  <div class="hero-modal" data-modal>
    <div class="hero-modal__container">
      <!------------------ Close button ----------------->

      <div class="hero-modal__wrap">
        <p class="hero-modal__title">Buy now</p>
        <button data-modal-close  type="button" class="hero-modal__close">
          <svg width="11px" height="11px">
            <use href="./images/icons.svg#icon-off" ></use>
          </svg>
        </button>
      </div>
      <!---------------- Modal screen --------->
      <ul class="hero-modal__list">
        <li class="hero-modal__item hero-modal__item--green">
          <div class="hero-modal__circle-green">
              <div class="hero-modal__foto-container">
                  <picture class="hero-modal__foto">
                    <source srcset="
                      /src/images/hero-header/kelsey-des.jpg    1x,
                      /src/images/hero-header/kelsey-des-2x.jpg 2x "
                      media="(min-width:1200px)"
                    />
                    <source srcset="
                      /src/images/hero-header/kelsey-des.jpg    1x,
                      /src/images/hero-header/kelsey-des-2x.jpg 2x"
                      media="(min-width:768px)"
                    />
                    <source srcset="
                      ./images/hero-header/kelsey-mob.jpg       1x,
                      ./images/hero-header/kelsey-mob-2x.jpg 2x"
                      media="(min-width:480px)"
                    />
                    <img class="hero-modal__foto"
                      src="./images/hero-header/kelsey-des.jpg" alt="Big cup with milkshake"
                    />
                  </picture>
              </div>
          </div>
          <p class="hero-modal__names">Ice cream</p>
          </li>
          <li class="hero-modal__item hero-modal__item--yellow">
            <div class="hero-modal__circle-yellow">
                <div class="hero-modal__foto-container">
                    <picture class="hero-modal__foto">
                      <source srcset="
                        /src/images/hero-header/pariwat-des.jpg    1x,
                        /src/images/hero-header/pariwat-des-2x.jpg 2x "
                        media="(min-width:1200px)"
                      />
                      <source srcset="
                        /src/images/hero-header/pariwat-des.jpg    1x,
                        /src/images/hero-header/pariwat-des-2x.jpg 2x"
                        media="(min-width:768px)"
                      />
                      <source srcset="
                        ./images/hero-header/pariwat-mob.jpg       1x,
                        ./images/hero-header/pariwat-mob-2x.jpg 2x"
                        media="(min-width:480px)"
                      />
                      <img class="hero-modal__foto"
                        src="./images/hero-header/pariwat-des.jpg" alt="Big cup with milkshake"
                      />
                    </picture>
                </div>
            </div>
            <p class="hero-modal__names">Ice coffee</p>
            </li>
            <li class="hero-modal__item hero-modal__item--orange">
              <div class="hero-modal__circle-orange">
                  <div class="hero-modal__foto-container">
                      <picture class="hero-modal__foto">
                        <source srcset="
                          /src/images/hero-header/victor-des.jpg    1x,
                          /src/images/hero-header/victor-des-2x.jpg 2x "
                          media="(min-width:1200px)"
                        />
                        <source srcset="
                          /src/images/hero-header/victor-des.jpg    1x,
                          /src/images/hero-header/victor-des-2x.jpg 2x"
                          media="(min-width:768px)"
                        />
                        <source srcset="
                          ./images/hero-header/victor-mob.jpg       1x,
                          ./images/hero-header/victor-mob-2x.jpg 2x"
                          media="(min-width:480px)"
                        />
                        <img class="hero-modal__foto"
                          src="./images/hero-header/victor-des.jpg" alt="Big cup with milkshake"
                        />
                      </picture>
                  </div>
              </div>
              <p class="hero-modal__names">Milkshakes</p>
              </li>
      </ul>
      <form action="" class="hero-modal__form" autocomplete="off">
        <div class="hero-modal__field">
          <label class="hero-modal__label" for="name" autofocus></label>
          <input
            class="hero-modal__input"
            type="text"
            name="name"
            id="name"
            placeholder="Name"
          />
        </div>
        <div class="hero-modal__field">
          <label class="hero-modal__label" for="tel"></label>
          <input
            class="hero-modal__input"
            type="tel"
            name="tel"
            id="tel"
            placeholder="Phone"
          />
        </div>

        <div class="hero-modal__textarea">
          <label class="hero-modal__label" for="comment"></label>
          <textarea
            class="hero-modal__input"
            type="text"
            name="comment"
            id="comment"
            rows="4"
            placeholder="Comment"
          >
          </textarea>
        </div>
      </form>
      <div class="hero-modal__inner">
        <button class="hero-modal__button btn" type="submit">Submit</button>
      </div>
    </div>
  </div>
</section>